* {
    margin: 0; /* remove as margens padrão de todos os elementos */
    padding: 0; /* remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* inclui o padding e a borda no cálculo do tamanho total dos elementos */
}

.container {
    display: flex; /* define a flex container */
    flex-wrap: wrap; /* permite que os itens quebrem para a próxima linha se necessário */
    gap: 20px; /* adiciona um espaço entre os itens */
    justify-content: space-between; /* distribui os itens com espaço entre eles */
    padding: 15px; /* adiciona um pouco de espaçamento ao redor do container */
    background-color: aquamarine; /* cor de fundo para visualização */
    
}

#Card {
    width: 400px;  /* define a largura do card */
    height: 300px; /* define a altura do card */
    background-color: #f0f0f0;
    border-radius: 10px; /* arredonda os cantos do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adiciona uma sombra para dar profundidade */
    display: flex;
    flex-direction: column; /* organiza os itens em uma coluna */
    align-items: flex-start; /* alinha os itens à esquerda */
    padding: 20px;
    justify-content: center; /* centraliza os itens verticalmente */
}

#Card h1 {
    font-size: 24px; /* define o tamanho da fonte para o título */
    color: #333; /* cor do texto para o título */
    margin-bottom: 24px; /* adiciona um espaço abaixo do título */
}

#Card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
}

#Card button {
    padding: 10px 20px; /* adiciona preenchimento ao botão */
    background-color: #007BFF; /* cor de fundo do botão */
    color: white;  /* cor do texto do botão */
    border: none; /* remove a borda padrão do botão */
    border-radius: 5px; /* arredonda os cantos do botão */
    cursor: pointer;  /* muda o cursor para indicar que o botão é clicável */
    font-size: 16px; /* define o tamanho da fonte do botão */
}

#Card button:hover {
    background-color: #0056b3; /* muda a cor de fundo do botão quando o mouse passa por cima */
}

#Card2 {
    width: 400px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    justify-content: center;
}

#Card2 h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 24px;
}

#Card2 p {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
}

#Card2 button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#Card2 button:hover {
    background-color: #0056b3;
}

